* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}
.container {
  height: 100vh;
  background-color: #eaf1f3;
  display: flex;
  align-items: center;
  place-content: center;
}
.container-form h2 {
  font-size: 30px;
  color: #0077b6;
  text-align: center;
}
.login-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
}
form input {
  padding: 10px;
  border: 1px solid #c5def4;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
.forgot-password {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
.forgot-password p {
  color: #0077b6;
  cursor: pointer;
  font-size: 14px;
}
button {
  padding: 10px 30px;
  background-color: slateblue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  margin: 0 auto;
  font-size: 16px;
}
form input:focus {
  border: 2px solid #0077b6;
}
form a {
  text-decoration: none;
  color: #0077b6;
  cursor: pointer;
}
.error-message {
  color: red;
  text-align: center;
  display: none;
}
#pop-up {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

#pop-up.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.icon-success {
  color: green;
}

.icon-failure {
  color: red;
}
