/* Reset some default styles */
body, h1, p, ul {
    margin: 2px;
    padding: 2px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.top-bar {
    background-color: #5338AC;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info span {
    margin-right: 20px;
}

.location {
    color: white;
}

nav {
    background-color: #5338AC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 750px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: black;
}

nav .login a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: solid 1px #f7f7f7;
    margin-left: 100px;
    border-radius: 5px;
}

nav .login a:hover {
    background-color: black;
}

.hero {
    background-image: url('../assests/banner-item-01.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(248, 248, 248);
    text-align: left;
    padding: 100px 20px;
    overflow: hidden;
    z-index: -1;
}

.hero-content {
    max-width: 600px;
    margin: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: left;
}

.hero p {
    margin-bottom: 20px;
}

.headings {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-left: 5px;
}

.all_container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50%;
    height: 100%;
}

.all_heading {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.all_container, .all_heading {
    background-color: #eae8f3;
}

ion-icon {
    width: 30px;
    height: 50px;
}

.quote-btn {
    background-color: #5338AC;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #5338AC;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 1050px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav .login a {
        margin-left: 0;
        margin-top: 10px;
    }

    .hero {
        padding: 80px 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .headings {
        flex-direction: column;
        align-items: center;
    }

    .all_container, .all_heading {
        width: 100%;
    }

    .quote-btn {
        margin-top: 20px;
    }
}