* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}
.container {
  height: 100vh;
  background-color: #eaf1f3;
  display: flex;
  align-items: center;
  place-content: center;
}
.register-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-form h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
form input {
  padding: 10px;
  border: 1px solid #c5def4;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
button {
  padding: 10px 30px;
  background-color: slateblue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 250px;
  margin: 0 auto;
  font-size: 16px;
}
button:hover {
  background-color: #5d3fd3;
}
form input:focus {
  border: 2px solid #0077b6;
}
form p {
  text-align: center;
}
form a {
  text-decoration: none;
  color: #0077b6;
}
.error-message {
  color: red;
  text-align: center;
  display: none;
}
